body {
    font-family: 'Oswald', sans-serif;
    font-family: 'Trispace', sans-serif;
}

.skip {
    color: violet;
}

.button {
    text-decoration: none;
    margin-left: 7px;
    padding: 7px 20px;
    background-color: blueviolet;
    border-radius: 10px;

}

.first-section {
    display: flex;



}

h1 {
    font-size: 80px;
}

.half-width-text {
    width: 40%;
    padding-left: 7%;

}

.half-width-img {
    width: 50%;
}

.headline {
    padding-top: 150px;
}

.hero_image {
    width: 100%;
}

.second-section {
    display: flex;

    background-image: url(images/shapes/7.png);
    background-repeat: no-repeat;
    background-size: cover;

    height: 550px;

    margin-top: 10%;





}

.recipes {
    text-align: center;
    margin-top: 90px;
    margin-bottom: 90px;
}



.text-width {
    width: 50%;
    margin-top: 150px;
}

.text-width p {
    text-align: justify;
}

.person-width {
    width: 50%;

}

.person-image {
    height: 550px;
    width: 350px;
    padding-left: 30%;
}

.section3 {
    display: flex;
    margin-left: 30px;
}

.image-width {
    height: 500px;
    width: 800px;
    box-shadow: 10px 10px 10px 10px rgb(167, 144, 144);
    margin: 20px;
    border-radius: 20px;

}

.image-width1 {
    height: 500px;
    width: 800px;
    box-shadow: 10px 10px 10px 10px rgb(167, 144, 144);
    margin: 20px;
    border-radius: 20px;
}

.contact {
    text-decoration: none;
    background-color: blueviolet;
    padding: 10px;
    border-radius: 10px;
    margin-left: 50px;


}

.cover {
    height: 300px;
    width: 500px;
    padding: 8px;
    padding-left: 55px;
}

.recipe-headline {
    padding: 14px;

}

.recipe-headline p {
    text-align: justify;
}

.last {
    box-shadow: 9px 9px 9px 9px rgb(218, 171, 171);
    height: 180px;
    width: 1100px;
    margin-left: 130px;
    display: flex;
}

.last1 {

    height: 100px;
    width: 200px;
    padding: 10px;
    margin: 35px;
    margin-left: 80px;


}

.last1 h2 {
    text-align: center;
}

.last1 p {
    margin-left: 5px;
}

.footer {
    background-color: black;
    height: 100px;
    text-align: center;
    padding-top: 20px;
    margin-top: 100px;
}

.footer p {
    color: beige;
}